<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042484710052-8p1otl7fuhhua0rrj85o2g6ujrh37t1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042484710052-8p1otl7fuhhua0rrj85o2g6ujrh37t1v</string>
	<key>API_KEY</key>
	<string>AIzaSyAbuOmYWc6hqJGCspp0F1RENsayMFJmyz8</string>
	<key>GCM_SENDER_ID</key>
	<string>1042484710052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeTest</string>
	<key>PROJECT_ID</key>
	<string>simple-auth-be748</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-auth-be748.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042484710052:ios:5d9a5dfe5e5f4d13e63431</string>
</dict>
</plist>